extends ../layout

block content
  h1= title

  form(method='post')
    p 
      label Imię:
      input(type='text' name='userName' placeholder='Podaj imie użytkownika...' || '')

    p 
      label Email:
      input(type='text' name='email' placeholder='Podaj email użytkownika...' || '')

    p 
      label Hasło:
      input(type='text' name='password' placeholder='Podaj hasło użytkownika...' || '')

    p
      input.btn(type='submit' value='Utwórz')