doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") Strona Główna
    ul
      li
        a(href="/guests") Goście
    ul
      li
        a(href="/reminders") Przypomnienia
    ul
      li
        a(href="/login") Logowanie
    block content
