extends layout

block content
  h1= title
  form(method='post')
    p
      label Login
      input(type='text' name='email' placeholder='Podaj email użytkownika...' || '')
    p
      label Hasło
      input(type='password' name='password' placeholder='Wymagane podanie 6 znaków' || '')
    p
      <input class=btn type='submit' value='Zaloguj'>