body {
  box-sizing: border-box;
  padding: 0;
  margin: 0px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  font-size: 18px;

  color: black;
}

.active {
  font-weight: bold;
  color: #1E90FF;
}

h1,
p,
form {
  text-align: center;
}


nav {
  height: 50px;
  text-align: right;
  line-height: 20px;
  background-color: navy;
  display: flexbox;
  flex: 0 1 300px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li a {
  margin: 0px;
  line-height: normal;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color #1E90FF .3s;
}

nav li a:hover {
  color: #1E90FF;
}

input,
textarea {
  padding: 5px 5px;
  border-radius: 5px;
  left: 20px;
  border: 1px solid navy;
  cursor: pointer;
  width: 15%;
  justify-content: center;
}


textarea {
  width: 20%;
  height: 70px;
}

label {
  display: block;
  margin: 0;
  overflow: hidden;
}

input.btn {
  background-color: #1E90FF;
  color: white;
}

td,
th {
  border: 1px solid navy;
  padding: 3px;
}

th {
  color: black
}

table {
  border-collapse: separate;
  margin: 0px auto;
}

input.btn2 {
  margin: 10px;
  width: 20%;
}

.button {
  font: 15px 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  text-decoration: solid;
  background-color: orangered;
  border: 1px solid navy;
  color: white;
  padding: 2px 20px 2px 20px;
  border-radius: 5px;
}

button {
  background-color: orangered;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid navy;
  cursor: pointer;
  width: 10%;
  justify-content: right;
  margin: 10px;
  text-decoration: none;

}

img {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

a.id {
  text-decoration: none;
}