body {
  padding: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: royalblue;
}

a {
  color: black;
  font-size: 18px;

}

li {
  list-style: square
}

.active {
  font-weight: bold;
  color: green;
}